h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 10px;
    padding: 15px;
    border: 5px;
    border-style: solid;
    border-color: blue;
    background-color: beige;
    color: black;
    text-align: center;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 10px;
    padding: auto;
}
h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    margin: auto;
    padding: auto;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    margin: 10px;
    padding: auto;
}